:root {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
}

.dayBG {
    background-image: linear-gradient(to top, #d4dff0, #becfee, #abbfeb, #99afe7, #8a9ee3);
}

.nightBG {
    background-image: linear-gradient(to top, #0d59cf, #174baf, #1a3e90, #1a3172, #172555);
}

#changeMeasure {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    font-weight: bold;
}

#changeMeasure:hover {
    cursor: pointer;
    background-color: rgba(212, 212, 212, 0.3);
}

#loading {
    position: fixed;
    top: 30%;
    height: 50px;
    width: 50px;
}

#catchAll {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}

#contentArea {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    align-items: center;
}

#searchArea {
    margin-top: 50px;
    display: grid;
    grid-template: 2fr 1fr / minmax(200px, 400px) 30px;
    grid-template-areas:
        'box button'
        'label label' ;
    align-items: center;
}

#searchBar {
    grid-area: box;
    height: 30px;
    padding-left: 30px;
    font-size: 1.5rem;
    color: white;
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#searchBar::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#searchBar:focus {
    color: white;
    border: 0;
    background: rgba(212, 212, 212, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#searchButton {
    grid-area: button;
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 5px;
}

#searchButton:hover {
    cursor: pointer;
}

#searchButton:active {
    scale: 0.8;
}

#searchMessage {
    grid-area: label;
    justify-self: center;
}

.hidden {
    visibility: hidden;
}

#dataDisplay {
    max-width: 500px;
    font-size: 1.2rem;
    display: grid;
    grid-template: .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr/ 1fr 1.5fr .5fr 1.5fr;
    grid-template-areas: 
        'title title title title'
        'icon temp condition condition'
        'icon temp feelslike feelslike'
        'icon temp wind wind'
        'highlow highlow highlow highlow'
        'forecast forecast forecast forecast'
        'tomorrow tomorrow tomorrow tomorrow'
        'overmorrow overmorrow overmorrow overmorrow';
        background-color: rgba(155, 155, 155, 0.3);
    padding: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
}

#dataDisplay>div {
    padding: 5px;
}

#dataTitleArea {
    grid-area: title;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 30px;
}

#showLocation {
    margin: 0;
}

#dataTemp {
    grid-area: temp;
    font-size: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

#dataIcon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showIcon {
    height: 120px;
    width: 120px;
}

#dataCondition {
    grid-area: condition;
}

#dataFeelsLike {
    grid-area: feelslike;
}

#dataHighLow {
    grid-area: highlow;
}

#dataWind {
    grid-area: wind;
}

#dataCondition, #dataFeelsLike, #dataWind {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#forecast {
    grid-area: forecast;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 1px solid lightgray;
}

#tomorrowArea {
    grid-area: tomorrow;
}

#overmorrowArea {
    grid-area: overmorrow;
}

#tomorrowArea, #overmorrowArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.forecastData {
    display: flex;
    gap: 20px;
    align-items: center;
}

.forecastData > span {
    width: 100px;
}

.forecastData > img {
    width: 40px;
    height: 40px;
    padding-right: 20px;
}

/* #tomorrowHighLow, #overmorrowHighLow {
    align-self: flex-end;
} */

#mainFooter {
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#mainFooter>span {
    align-content: center;
}

a {
    text-decoration: none;
    color: white;
}

#ghLogo {
    height: 20px;
    width: 20px;
}